# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

full_project_10/.env
# Ignored for security, share via secure means if needed

#to get its access  in file: VITE_APPWRITE_URL="TEST"

#IN APP.JSX
#console.log(import.meta.env.VITE_APPWRITE_URL);